<footer class="footer">
  <p>Copyright (C) 2020-{{year}} <a href="https://www.redhat.com">Red Hat</a> and individual contributors to <a href="https://github.com/quarkiverse/quarkiverse-docs">Quarkiverse</a>.</p>
</footer>
{{#if env.SITE_SEARCH_PROVIDER}}
    {{> search-scripts}}
{{/if}}
