name: Alphabetise extension list

on:
  push:
    branches: [ main ]
    paths:
      - antora-playbook.yml
  workflow_dispatch:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Alphabetise
        run: |
          yq '.content.sources |= sort_by(.url)' antora-playbook.yml > antora-playbook-sorted.yml
          mv antora-playbook-sorted.yml antora-playbook.yml
      - name: Create Pull Request
        # Skip main in forks
        if: "github.repository == 'quarkiverse/quarkiverse-docs' && endsWith(github.ref, '/main')"
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"          
          git checkout -b alpha-${{ github.run_id }}
          git add antora-playbook.yml
          git commit -m "Automatic alphabetisation"
          git push
          gh pr create --title "Automatic alphabetisation" --fill --repo $GITHUB_REPOSITORY
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

